@font-face {
    font-family: LemonMilk;
    src: url("./img/lemonmilk-bold.otf");
}

body {
    background-color: #101010;
}

span {
    color: white;
    font-family: "Poppins";
}

a {
    text-decoration: none;
}

.hide {
    display: none !important;
}

.center-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.profile-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
}

.profile-box-texts {
    display: flex;
    flex-direction: column;
}

.projects-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    width: 100%;
}

.socials-box {
    display: flex;
    gap: 16px;
}

.logo {
    width: 164px;
    height: 164px;
    border-radius: 10%;
    margin-top: 16px;
    transition: ease 0.5s;
    cursor: pointer;
}

.logo:hover {
    opacity: 0.7;
}

.logo-text {
    font-family: LemonMilk;
    font-weight: bolder;
    font-size: 36px;

    color: #f25fff;
    background: -webkit-linear-gradient(0deg, #f25fff, #c906ff);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.logo-desc {
    color: #503050;
    font-size: 30px;
}

.logo-desc-container {
    position: relative;
    height: 40px;
    width: 25%;
    display: flex;
    justify-content: center;
    margin-top: 16px;
}

.logo-desc-container .logo-desc {
    position: absolute;
    width: max-content;
}

.logo-desc-container .logo-desc * {
    display: inline-block;
    -webkit-user-select: none;
    user-select: none;
}
.logo-desc-container .logo-desc:first-child * {
    color: #e41cbf;
    z-index: 1;
}
.logo-desc-container .logo-desc:last-child * {
    color: #b300ff;
    z-index: 0;
}

.link-icon {
    color: white;
    font-size: 32px;
}

.title-projects {
    color: white;
    font-size: 34px;
    margin-top: 16px;
}

/* PROJECT */

.project-entry {
    display: flex;
    flex-direction: row;
    background: linear-gradient(90deg, #2d2d2d, #212121);
    width: min(90%, 850px);
    border-radius: 12px;
    transition: ease 0.2s;
}

.project-entry:hover {
    opacity: 0.8;
}

.project-image {
    width: 128px;
    height: 128px;
    border-radius: 12px;
    align-self: center;
}

.project-textbox {
    display: flex;
    flex-direction: column;
    margin-left: 12px;
    margin-right: 4px;
    margin-bottom: 8px;
    margin-top: 4px;
}

.project-title {
    color: rgb(233, 233, 233);
    font-weight: bolder;
    font-size: 28px;
}

.project-desc {
    color: rgb(192, 192, 192);
    margin-right: 12px;
}

.project-link {
    text-decoration: none;
    color: inherit;
    display: contents;
}

.project-properties {
    display: flex;
    flex-wrap: wrap;   /* allow items to wrap downwards */
    gap: 6px;
    margin-top: auto;
}

.project-property-entry {
    color: white;
    font-family: "Poppins";
    font-weight: bold;
    border-radius: 4px;    
    width: min-content;
    padding-left: 4px;
    padding-right: 4px;
    background-color: rgba(255, 255, 255, 0.689);
    border: solid 1px rgb(255, 255, 255); 
}

/* COLORS */
.color-java {
    background-color: rgba(255, 146, 4, 0.5);
    border-color: rgb(255, 146, 4); 
}

.color-javascript {
    background-color: rgba(236, 255, 30, 0.5);
    border-color: rgb(236, 255, 30); 
}

.color-cpp {
    background-color: rgba(4, 113, 255, 0.5);
    border-color: rgb(4, 113, 255); 
}

.color-minecraft {
    background-color: rgba(27, 237, 27, 0.5);
    border-color: rgb(27, 237, 27);
}

.color-discordjs {
    background-color: rgb(88, 101, 242, 0.5);
    border-color: rgb(88, 101, 242);
}

.color-socketio {
    color: white;
    background-color: rgb(192, 192, 192, 0.5);
    border-color: rgb(192, 192, 192);
}

.color-sfml {
    background-color: rgb(156, 222, 72, 0.5);
    border-color: rgb(156, 222, 72);
}

.footer-text {
    color: #555;
}